<%-include("partials/header")-%>

<h1>Home</h1>

<p><%=HomeContent%></p>

<%postsList.forEach(function(post){%>
    <h1><%=post.title1%></h1>
    <p><%=post.post1.substring(0,100)+"..."%>
        <a href="/posts/<%=post.title1%>">Read More</a></p>
    
<%});%>
   


<%-include("partials/footer")-%>